---
import "../styles/global.css";
// Component Imports
import Main from "@/layouts/main.astro";
import HeroSection from "@/components/hero-section";
import { FeatureSection } from "@/components/feature-section";
import { BentoGrid } from "@/components/bento-grid";
import { ContactSection } from "@/components/contact-section";
import { Image } from "astro:assets";

const content = {
    title: "Welcome to Astro!",
    description:
        "A modern web framework for building fast and powerful websites.",
};
---

<Main content={content}>
    <div class="flex flex-col gap-24 lg:gap-60 mb-24 lg:mb-60">
        <HeroSection />
        <FeatureSection />
        <BentoGrid />
        <ContactSection />
        <div class="flex flex-col justify-center items-center gap-6">
            <Image
                src="/sertificate.jpg"
                alt="Certificate"
                height={320}
                width={256}
                inferSize={true}
            />
            <h1 class="uppercase max-w-3xl text-center">
                A Certified Tattoo Artist's Promise -  Your Vision, My Expertise
            </h1>
        </div>
    </div>
</Main>
